.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(64, 50, 41, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.loginBtn {
  padding: 10px 40px;
  background-color: rgb(64, 50, 41, 0.5);
  border: none;
  font-size: 18px;
  position: relative;
  /* overflow: hidden; */
  transition: 500ms;
}

.submitBtn {
  display: flex;
  justify-content: center;
}

.loginBtn span {
  color: rgb(255, 255, 255);
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.loginBtn:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: rgb(206, 203, 188);
  box-shadow: 0 0 10px rgb(206, 203, 188), 0 0 30px rgb(206, 203, 188),
    0 0 50px rgb(206, 203, 188);
}

.loginBtn div {
  transition: 500ms;
  position: absolute;
  background-color: rgb(206, 203, 188);
  box-shadow: 0 0 15px rgb(206, 203, 188), 0 0 30px rgb(206, 203, 188),
    0 0 50px rgb(206, 203, 188);
}

.loginBtn .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

.loginBtn .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.loginBtn .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

.loginBtn .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

.loginBtn:hover {
  color: #000;
}

.loginBtn:hover span {
  color: #000;
}

.loginBtn:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loginBtn:hover .top,
.loginBtn:hover .bottom {
  width: 100%;
}

.loginBtn:hover .left,
.loginBtn:hover .right {
  height: 100%;
}
