.div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  margin: 27px 0px;
}

.spot-card {
  width: 1200px;
  height: 100px;
  background: rgb(206, 203, 188);
  transition: all 300ms;
  margin: auto;
  border-radius: 10px;
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.spot {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

h4{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}