.card {
    width: 500px;
    height: 300px;
    background: rgb(206, 203, 188);
    transition: all 300ms;
    overflow: scroll;
    margin: 30px auto;
    border-radius: 10px;
  }
  
  /* .card:hover {
    opacity: 0.8;
    transform: scale(1.1);
  } */
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  p{
      margin-left: 5px;
  }
  