.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: rgba(64, 50, 41, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
  transition: 0.2s linear;
  margin: 25px 0px;
}

.form button {
  align-self: flex-end;
}

.label {
  font-size: 14px;
  margin-bottom: -10.6px;
  color: white;
}

.input {
  height: 25px;
  width: 100%;
  border: 0.5px solid white;
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s linear;
  position: relative;
}

.input:focus {
  outline: none;
  background-color: rgba(173, 173, 173, 0.233);
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.137);
}

button {
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  transition: 0.2s linear;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.74);
  box-shadow: 2px 2px 10px rgba(124, 124, 124, 0.192);
}

.form h1 {
  margin: 20px 0px 5px 0px;
  color: white;
}

.form h4 {
  color: white;
}
