.card {
  width: 500px;
  height: 300px;
  background: rgb(206, 203, 188);
  transition: all 300ms;
  overflow: scroll;
  margin: 30px auto;
  border-radius: 10px;
}

.row-answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}

p {
  margin-left: 5px;
}